.first-chat {
    background-color: #F8F9FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    border-bottom: 6px solid #4ADF83;
}

.first-chat img {
    width: 250px;
    height: auto;
}

.first-chat h1 {
    color: #525252;
    font-size: 32px;
    margin-top: 30px;
    font-weight: normal;
}

.first-chat h2 {
    text-align: center;
    line-height: 20px;
    margin-top: 20px;
    font-weight: normal;
    color: #777;
    font-size: 14px;
}